<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h1>Enter your recovery E-mail</h1>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput required formControlName="password" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Password Confirmation</mat-label>
    <input
      type="password"
      matInput
      required
      formControlName="confirmPassword"
    />
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Reset Password
  </button>
</form>
