<div class="profile-container">
  <div class="personal-details" *ngIf="!runnerInfo?.id">
    <mat-progress-spinner mode="indeterminate"> </mat-progress-spinner>
  </div>
  <div class="personal-details" *ngIf="runnerInfo?.id">
    <div class="profile-image-container">
      <img [src]="runnerInfo.avatar_url" alt="profile image" />
      <button
        *ngIf="isMyProfile"
        mat-mini-fab
        aria-label="Edit avatar button"
        (click)="openUpdateAvatarDialog()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="name-details">
      <span class="full-name">
        {{ runnerInfo.first_name }} {{ runnerInfo.last_name }}
      </span>
    </div>
    <div class="runner-details">
      <div>{{ runnerInfo.hometown }}</div>
      <div>{{ runnerInfo.sex | titlecase }}</div>
      <div>{{ raceResults().length }} / 169</div>
    </div>
  </div>
  <div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="race-details" *ngIf="!isLoading">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Results ({{ raceResults().length }})
        </ng-template>
        <table
          *ngIf="raceResults().length > 0"
          mat-table
          [dataSource]="raceResults()"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <a
                class="race-link"
                [routerLink]="['/', 'races', element.race.id]"
              >
                {{ element.race.name }}
              </a>
              <div>
                {{ element.race.town.name }}
                <span *ngIf="element.bib_number">
                  | Bib#{{ element.bib_number }}
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="total-time">
            <th mat-header-cell *matHeaderCellDef>Total Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.time_in_seconds | raceTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>Distance</th>
            <td mat-cell *matCellDef="let element">
              {{ element.race.distance | number : "1.0-3"
              }}{{ element.race.distance_unit | distance }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mile-pace">
            <th mat-header-cell *matHeaderCellDef>Mile Pace</th>
            <td mat-cell *matCellDef="let element">
              {{ element.mile_pace }}
            </td>
          </ng-container>

          <ng-container matColumnDef="kilometer-pace">
            <th mat-header-cell *matHeaderCellDef>Kilometer Pace</th>
            <td mat-cell *matCellDef="let element">
              {{ element.kilometer_pace }}
            </td>
          </ng-container>

          <ng-container matColumnDef="start-time">
            <th mat-header-cell *matHeaderCellDef>Completed</th>
            <td mat-cell *matCellDef="let element">
              {{ element.race.start_time | date : "EEEE, MMMM dd, yyyy" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Race Calendar ({{ racesBeingWatched().length }})
        </ng-template>

        <table
          *ngIf="racesBeingWatched().length > 0"
          mat-table
          [dataSource]="racesBeingWatched()"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/races/', element.id]">
                {{ element.name }}
              </a>
              <div>{{ element.town.name }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>Distance</th>
            <td mat-cell *matCellDef="let element">
              {{ element.distance | number : "1.0-3"
              }}{{ element.distance_unit | distance }}
            </td>
          </ng-container>

          <ng-container matColumnDef="going">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.is_going ? "Going" : "Interested" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="start-time">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.start_time | date : "MMM dd, yyyy 'at' h:mm a" }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="['start-time', 'name', 'distance', 'going']"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: ['start-time', 'name', 'distance', 'going']
            "
          ></tr>
        </table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Completed Towns ({{ completedTowns().length }})
        </ng-template>
        <table
          *ngIf="completedTowns().length > 0"
          mat-table
          [dataSource]="completedTowns()"
        >
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Times</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.town_name }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['name', 'count']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'count']"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
