<h1>Upcoming Races</h1>
<div class="disclaimer">
  Please be aware that this list is not complete and may also be inaccurate. If
  you don't see a race listed, you can
  <a routerLink="/races/create">create a race</a>.
</div>
<div class="table-wrapper" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="table-wrapper" *ngIf="!isLoading">
  <table
    *ngIf="upcomingRaces()?.length! > 0"
    mat-table
    [dataSource]="upcomingRaces()"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="town">
      <th mat-header-cell *matHeaderCellDef>Town</th>
      <td mat-cell *matCellDef="let element">
        {{ element.town.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/races/', element.id]">
          {{ element.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Distance</th>
      <td mat-cell *matCellDef="let element">
        {{ element.distance | number : "1.0-3"
        }}{{ element.distance_unit | distance }}
      </td>
    </ng-container>

    <ng-container matColumnDef="race-fee">
      <th mat-header-cell *matHeaderCellDef>Fee</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.race_fee === 0">--</ng-container>
        <ng-container *ngIf="element.race_fee !== 0">
          {{ element.race_fee | currency : "USD" : "symbol" : "1.2-2" }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="start-time">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.start_time | date : "MMMM dd, yyyy 'at' h:mm a" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
</div>
