<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer>
    <div class="app-drawer">
      <div class="close-button-container">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div *ngIf="isLoggedIn()" class="profile-details-container">
        <div>
          <img
            class="profile-image"
            [src]="currentUser()?.avatar_url"
            alt="Profile image"
          />
        </div>
        <div>
          <div class="name">
            {{ currentUser()?.first_name }} {{ currentUser()?.last_name }}
          </div>
          <span class="runner-id"> #{{ currentUser()?.runner_id }}</span>
        </div>
      </div>
      <div *ngIf="isLoggedIn()" class="nav-links">
        <a mat-stroked-button routerLink="/" (click)="drawer.close()"> Home </a>
        <a
          mat-stroked-button
          [routerLink]="['runners', currentUser()?.runner_id]"
          (click)="drawer.close()"
        >
          My Profile
        </a>
        <a mat-stroked-button routerLink="runners" (click)="drawer.close()">
          Members
        </a>
        <a
          mat-stroked-button
          routerLink="races/create"
          (click)="drawer.close()"
        >
          Create a Race
        </a>
        <a mat-stroked-button routerLink="races" (click)="drawer.close()">
          Race Listings
        </a>
        <a
          mat-flat-button
          color="primary"
          routerLink="submit-result"
          (click)="drawer.close()"
        >
          Submit a Town
        </a>
        <button mat-flat-button color="warn" (click)="logout()">Logout</button>
      </div>
      <!-- LOGGED OUT NAV-->
      <ng-container *ngIf="!isLoggedIn()">
        <div>
          <h1>Run169</h1>
        </div>
        <div class="nav-links">
          <a mat-stroked-button routerLink="/" (click)="drawer.close()">
            Home
          </a>
          <a mat-stroked-button routerLink="runners" (click)="drawer.close()">
            Members
          </a>
          <a mat-stroked-button routerLink="races" (click)="drawer.close()">
            Upcoming Races
          </a>
          <a
            mat-stroked-button
            color="accent"
            routerLink="login"
            (click)="drawer.close()"
          >
            Sign into your Account
          </a>

          <a
            mat-flat-button
            color="primary"
            routerLink="register"
            (click)="drawer.close()"
          >
            Create an Account
          </a>
        </div>
      </ng-container>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <nav>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Run 169</span>
      </mat-toolbar>
    </nav>
    <main>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
