<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer>
    <div class="app-drawer">
      <div class="close-button-container">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="profile-details-container">
        <div>
          <img
            class="profile-image"
            [src]="currentUser()?.avatar_url"
            alt="Profile image"
          />
        </div>
        <div>
          <div class="name">
            {{ currentUser()?.first_name }} {{ currentUser()?.last_name }}
          </div>
          <span class="runner-id"> #{{ currentUser()?.runner_id }}</span>
        </div>
      </div>
      <div *ngIf="isLoggedIn()" class="nav-links">
        <button
          mat-stroked-button
          [routerLink]="['runners', currentUser()?.runner_id]"
          (click)="drawer.close()"
        >
          My Profile
        </button>
        <button
          mat-stroked-button
          routerLink="runners"
          (click)="drawer.close()"
        >
          Members
        </button>
        <button
          mat-stroked-button
          routerLink="races/create"
          (click)="drawer.close()"
        >
          Create a Race
        </button>
        <button
          mat-stroked-button
          routerLink="submit-result"
          (click)="drawer.close()"
        >
          Submit a Town
        </button>
        <button mat-flat-button color="warn" (click)="logout()">Logout</button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <nav>
      <mat-toolbar color="primary">
        <button *ngIf="isLoggedIn()" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Run 169</span>
      </mat-toolbar>
    </nav>
    <main>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
