<h1>Create a Race</h1>
<form
  #formGroupDirective="ngForm"
  class="example-form"
  [formGroup]="form"
  (ngSubmit)="handleSubmit(formGroupDirective)"
  autocomplete="off"
>
  <div>
    <mat-form-field>
      <mat-label>Name of Race</mat-label>
      <input
        type="text"
        matInput
        formControlName="raceName"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Town</mat-label>
      <input
        type="text"
        matInput
        formControlName="townName"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        autoActiveFirstOption
        [requireMatch]="true"
        [displayWith]="displayFn"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Distance</mat-label>
      <input
        type="number"
        step=".01"
        matInput
        formControlName="distanceValue"
        matNativeControl
      />
    </mat-form-field>
    <mat-slide-toggle
      color="primary"
      [checked]="form.get('kilometers')?.value ?? true"
      formControlName="kilometers"
      >Kilometers?</mat-slide-toggle
    >
  </div>
  <div>
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input type="datetime-local" matInput formControlName="startTime" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Address Line One</mat-label>
      <input type="text" matInput formControlName="addressLineOne" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Website URL</mat-label>
      <input type="text" matInput formControlName="websiteUrl" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Results URL</mat-label>
      <input type="text" matInput formControlName="resultsUrl" />
    </mat-form-field>
  </div>
  <input type="submit" />
</form>
