<h1>
  Search Members <span *ngIf="runners.length > 0">({{ runners.length }})</span>
</h1>
<form class="form" (keydown.enter)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Search</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let runner of filteredRunners | async"
        [value]="runner"
        (click)="goToProfile(runner.runner_id)"
      >
        <div class="runner-search-result">
          <img [src]="runner.avatar_url" alt="profile image" />
          <div class="info">
            <div class="full-name">
              {{ runner.first_name }} {{ runner.last_name }}
            </div>
            <div class="hometown">
              #{{ runner.runner_id }} | {{ runner.town.name }}
            </div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
